* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    line-height: 1.7em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
}
.form-modal {
    position: absolute;
    left: 40%;
    top: 70;
    display: none;
    background-color: brown;
    /* padding: 10px; */
z-index: 3;
flex-direction: column;
padding: 20px;
width: 280px;
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}
.modal-header {
    display: flex;
    justify-content: space-between;
}
.close-btn {
    align-self: flex-end;
/* float: right; */
    cursor: pointer;
    font-size: 32px;
}
form {
    display: flex;
    flex-direction: column;
    /* border: none; */
    width: 240px;
}
fieldset {
    /*display form vertically*/
    display: flex;
    border: none;
    flex-direction: column;
    margin-top: 20px;
}
label {
    font-size: 18px;
    margin-bottom: 10px;
}
input[type="text"],input[type="number"] {
     width: 240px;
    /* font-size:24px; */
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
} 
input[type="radio"] {
    width: 15px;
    height: 15px;
}
#pages {
    width: 35%;
    /* font-size: 18px;
    margin-bottom: 20px; */
}
.display {
    /* display: flex; */
    justify-self: unset;
    align-self: unset;
}
table {
    border-collapse: collapse;
}
th,td {
    border-bottom: 1px solid black;
    padding: 10px;
}

/* .modal-content {
    padding-left: 20px;
    padding-right:  20px;
} */

.readCell {
    width: 100.4px;
}





#submit {
align-items: center;
justify-content: center;
flex-direction: unset;
/* width: 240px; */
}

#submitBtn {
    width: 240px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 20px;
}
.read-btn {
    padding: 10px;
    font-size: 15px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
