.card {
    background-color: dodgerblue;
margin: 20px;

}
.display {
    /* display: flex; */
    justify-self: unset;
    align-self: unset;
}
form {
    display: flex;
    flex-direction: column;
}
fieldset {
    /*display form vertically*/
    display: flex;
    flex-direction: column;
}
table {
    border-collapse: collapse;
}
th,td {
    border-bottom: 1px solid black;
    padding: 10px;
}
#book-form {
    /* visibility: hidden; */
    /* position: absolute; */
    /* display: none; */
    
}
#form-modal {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: brown;
    padding: 40px;
z-index: 3;
}
label {
    padding: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    height: 900px;
}
.close-btn {
    align-self: flex-end;
    cursor: pointer;
    font-size: 32px;
}